.tableau_fiche_client tr
{
    height: 3vh;
}

.tableau_fiche_client td
{

    padding-left: 1vw;
    min-width: 1vw;
}

.tableau_fiche_organisation td

{
    min-width: 1vw;
}

.tableau_Lieu td
{
    padding: 0.5vw;
}

 .tableau_organisation tr td
 {
    text-align: center;
    padding: 0.5vw;
 }

body
{
    margin: 0;
}

.menu
{
    height: 15vh;
    background-color: blue;
}

.logo
{    
    height: 20vh;
    width: 10vw;
    background-color: red;
}

.mariage
{
    border: 2px black solid;
    min-width: 43vw;
    min-height: 35vh;
    max-width: 43vw;
    max-height: 50vh;
    padding: 1vw;
    margin: 5vh;
}

.couleur
{
    background-color: #968561;
    color: white;
}

#galerie a
{
    text-decoration: none;
    color: black;
}

.texte
{   
    height: 30vh;
    width: 25vw;
}

.texte p
{
    overflow-wrap: break-word;
}

.taille_photo
{
    margin-bottom: 0.5vh;
    max-width: 18vw;
    max-height: 40vh;
}

.galeriePhoto
{
    max-width: 25vw;
    max-height: 25vh;
}

.couleurMenu
{
    color: white;
}

.taille_prestataires
{
    height: 20vh;
    width: 50vw;
}

nav li .active{
    background-color: #968561 !important;
}