@media screen and (max-width: 480px) {

    /* smartphone de type : galaxie s9, iphone 6/7/8/X */
    
    
        @font-face 
        {
            font-family: "lora";
            src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
        }
    
        @font-face 
        {
            font-family: "Dancing";
            src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap");
        }
        
        #monFormulaire
        {
            width: 98vw;
            margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
            padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
            border: black 1px solid;
            font-size: 0.8em;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .identification
        {
            text-align: end;
            padding: 2vh 15vw 2vh 0; /* haut | droit | bas | gauche */
        }

    }
            
                /* *********************************************************************** */
                                /* ****************************/
                                /* ******MEDIA MAX 860px ******/
                                /* ****************************/
            /* *********************************************************************** */
    
    @media screen and (min-width: 481px) and (max-width: 860px) {
        
        /* tablette de type : ipad, ipad pro, nexus 10  */
            
        @font-face 
        {
            font-family: "lora";
            src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
        }
    
        @font-face 
        {
            font-family: "Dancing";
            src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
        } 
    
    
            #monFormulaire
            {
                width: 25vw;
                margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
                padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
                border: black 1px solid;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        
            .identification
            {
                text-align: end;
                padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
            }
            
    }
    
            /* *********************************************************************** */
                            /**************************************************/
                            /********MEDIA ENTRE 861PX ET MAX 1599px ********/
                            /************************************************/
            /* ********************************************************************** */
    
        
        @media screen and (min-width: 861px) and (max-width: 1599px) 
        
        /* ordinateur de type : 1200px */
        
    {
    
        @font-face 
        {
            font-family: "lora";
            src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
        }
    
        @font-face 
        {
            font-family: "Dancing";
            src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
        }
    
        #monFormulaire
        {
            width: 25vw;
            margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
            padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
            border: black 1px solid;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .identification
        {
            text-align: end;
            padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
        }

    
    }
    
    
    
            /* *********************************************************************** */
                            /**************************************************/
                            /********MEDIA ENTRE width : 1220PX ET height : 530px ********/
                            /************************************************/
            /* ********************************************************************** */
    
        
            @media screen and (min-width: 1220px) and (min-height: 530px) and (max-height: 780px)
    
            /* ordinateur de type : 1200px */
            
        {
        
            @font-face 
            {
                font-family: "lora";
                src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
            }
        
            @font-face 
            {
                font-family: "Dancing";
                src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
            }
        
            #monFormulaire
            {
                width: 25vw;
                margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
                padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
                border: black 1px solid;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        
            .identification
            {
                text-align: end;
                padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
            }
                    
        }
        
        
    
        /* *********************************************************************** */
                            /********************************/
                            /***MEDIA SUPERIEUR A 1600PX ***/
                            /******************************/
        /* *********************************************************************** */
    
    
    @media screen and (min-width: 1600px)
    
    /* ordinateur de type : 1600px */
    
    {
        
        @font-face 
        {
            font-family: "lora";
            src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
        }
    
        @font-face 
        {
            font-family: "Dancing";
            src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
        } 
        
        #monFormulaire
        {
            width: 25vw;
            margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
            padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
            border: black 1px solid;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .identification
        {
            text-align: end;
            padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
        }
    
    }
    
            /* *************************/
            /* ******** THE END *******/
            /* ********************* */ 