@media screen and (max-width: 480px) {

/* smartphone de type : galaxie s9, iphone 6/7/8/X */


    @font-face 
    {
        font-family: "lora";
        src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
    }

    @font-face 
    {
        font-family: "Dancing";
        src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap");
    }

    body 
    {
        margin: 0;
        padding: 0;
        background-color: rgb(248, 239, 239);
    }
    
    html 
    {
        --basecolor: #441133;
    }

    nav
    {
        width: 100vw;
    }
    
    .logo
    {
        width: 30vw;
        height: 18vh;
        background-image: url("../img/logo2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
    
    #bouton
    {
        outline: none !important;
        border: 0;
        color: var(--basecolor);
    }

    .navbar-collapse
    {
        position: absolute;
        z-index: 2;
        top: 12vh;
        left: 45vw;
        background-color: rgb(248, 239, 239);
    }

    nav ul
    {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-top: 1vh;
    }

    nav li
    {
        width: 50vw;
        display: flex;
        text-align: center;

        transition-property: background-color, color, width, height;
        transition-duration: 0.2s;
        
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    }

    nav ul li a
    {
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 1.2em;

        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
    } 

    .active
    {
        background-color: rgb(221, 185, 182);
        color: var(--basecolor)!important;
    }

    /* FIN HEADER */

    /* ******************************************** */
    /*  PAGE ACCUEIL */
    /* ********************************************* */

    /* ***********page accueil***** */

    /* carte de visite */
    .carte-visite
    {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 5vh auto 0 auto; /* haut | droit | bas | gauche */
        text-align: justify;
        background: white;
        padding-top: 5vh;
        border-radius: 4px;
        box-shadow: 3px 3px 7px 7px var(--basecolor);
    }
    
    .flou
    {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    .presentation p
    {
        padding: 0 5vw 0 5vw; /* haut | droit | bas | gauche */
        color: #4F3136;
    }

    /* on cible h1 */
    .carte-visite h1
    {
        font-family: "Dancing";
        font-size: 2em;
        text-align: center;
        color: #4F3136;
        margin-top: 40px;
        margin-bottom: 30px;
    } 

    .nom p
    {
        font-family: 'Dancing Script', Verdana, sans-serif, cursive;
        font-size: 1.1em;
        color: #4F3136;
    }

    /* photo laureelen arrondie */
    .circle
    {
        width: 50vw;
        height: 33vh;
        background-image: url("../img/laureelen.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 110%;
        border-radius: 50%;
        shape-outside: circle(50%);
        margin: auto;
    }

    /* *****logo wedding planner ****** */
    .wedding
    {
        width: 100%;
        height: 30vh;
        background-image: url("../img/logowedding.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50%;
        margin-bottom: 3vh;
    } 

    /* *******************************************/
    /* PAGE CONTACT */
    /* *************************************** */

    /* ****************************************/
    /* COORDONNEES LAUREELEN */
    /*****************************************/

    main .gauche .coordonnees p
    {
        display: flex;
        justify-content: center;
        font-weight: 600;
        color: #4F3136;
        overflow: hidden;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 30px;
    } 

    main .connection:hover 
    {
        width: 95px;
        height: 35px;
        background-color: violet;
        color: var(--basecolor);
    } 


    /* barre verticale de séparation */
    #contact .gauche
    {
        width: 100vw;   
        border-bottom: 2px solid var(--basecolor);
    }  

    /* ********************************* */
    /* formulaire de contact clients */
    /* ********************************* */

    #contact .droite 
    {
        padding-right: 3vw;
    }

    .droite form
    {
        width: 100%;
        margin-top: 40px;
    } 
    
    .droite label 
    {
        display: block;
        margin-bottom: 10px;
        margin-left: 10px;

    }

    .droite label span 
    {
        width: 97px;
        color: #4F3136;
        font-weight: 600;
    } 

    .droite input, textarea 
    {
        float: right;
    }

    .droite input 
    {
        width: 200px;
        padding-right: 10px;
    } 

    .droite .flex1 
    {
        color: #4F3136;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
    } 

    .droite .flex2 
    {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .droite .flex2 span 
    {
        display: block;
        align-self: flex-start;
        width: 97px;  
    } 

    span textarea
    {
        display: block;
    }

    .input-icone:before 
    {
        position: relative;
        display: inline-block;
        top: 3px;
        content: "*";
        color: var(--basecolor);
    }  

    .bouton-envoyer 
    {     
        color: #ffff;
        font-weight: 600;
        border-radius: 20px;
        border: var(--basecolor);
        background-color: var(--basecolor);
        height: 30px;
    }
        
            /* *****logo wedding planner ****** */
.wedding2
    {
        width: 97%;
        height: 30vh;
        background-image: url("../img/logowedding.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50%;
        margin-bottom: 3vh;
    } 

    #monFormulaire
    {
        width: 98vw;
        margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
        padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
        border: black 1px solid;
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .identification
    {
        text-align: end;
        padding: 2vh 15vw 2vh 0; /* haut | droit | bas | gauche */
    }

        /* *************************/
        /**********FOOTER *********/
        /*************************/
    footer 
    {
        font-family: "Lora";
        width: 100%;
        height: 20vh;
        margin-top: 5vh;
        background-color: var(--basecolor);
    }
        /* FOOTER NAV */

    footer nav 
    {
        width: 100%;
    }

    footer nav ul 
    {
        width: 100vw;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    footer nav ul li
    {
        width: 40vw;
        font-size: 0.7em;
    }

    footer nav ul li a
    {
        margin-top: 2vh;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    footer p 
    {
        color: white;
        margin-top: 2vh;
        text-align: center;
        font-size: 0.7em;
    }

    footer a
    {
        color: white;
    }
    
    
        /* ajuster toutes les icônes réseaux sociaux sur même ligne */
    .icones
    {
        width: 100%;
        display: flex;
        justify-content: space-around; 
        align-items: center;
        padding: 0 15vw 0 15vw; /* haut | droit | bas | gauche */
    }

}
        
            /* *********************************************************************** */
                            /* ****************************/
                            /* ******MEDIA MAX 860px ******/
                            /* ****************************/
        /* *********************************************************************** */

@media screen and (min-width: 481px) and (max-width: 860px) {
    
    /* tablette de type : ipad, ipad pro, nexus 10  */
        
    @font-face 
    {
        font-family: "lora";
        src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
    }

    @font-face 
    {
        font-family: "Dancing";
        src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
    } 

    body 
    {
        margin: 0;
        padding: 0;
        background-color: rgb(248, 239, 239);
    }

    html 
    {
        --basecolor: #441133;
    }

    .logo
    {
        position: absolute;
        width: 30vw;
        height: 15vh;
        background-image: url("../img/logo2.png");
        background-repeat: no-repeat;
        background-size: 58%;
        margin-top: 5vh;
    }  
    
    header nav
    {
        height: 8vh;
        width: 96vw;
        margin: 1vh 2vw 0 2vw; /* haut | droit | bas | gauche */
        display: flex;
        justify-content: center;
    }

    header nav ul
    {
        height: 8vh;
        width: 100%;
        display: flex;
        text-align: center;
        
    }

    header nav li
    {
        width: 100%;
        height: 8vh;

        transition-property: background-color, color, width, height;
        transition-duration: 0.2s;
        
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    } 

    header nav ul li a
    {
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 1.5em;
        color: black !important;

        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
    }  

    .active
    {
        background-color: rgb(199, 145, 140);
        color: var(--basecolor)!important;
    }

    header nav ul li:hover {
        background-color: rgb(199, 145, 140);
    }
    
    header nav ul li:hover a 
    {
        color: var(--basecolor)!important;
    }

        /* FIN HEADER */

        /* ************************************************/
        /* *************PAGE ACCUEIL**********************/
        /* **********************************************/


        /* carte de visite */
    .carte-visite
    {
        display: flex;
        width: 90vw;
        margin: 18vh auto 0 auto; /* haut | droit | bas | gauche */
        background: white;
        border-radius: 50px;
        box-shadow: 3px 3px 7px 7px var(--basecolor);
    }
        
    .flou
    {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }

    .presentation p
    {
        font-size: 0.8em;
        padding: 0 0 0 0; /* haut | droit | bas | gauche */
        color: #4F3136;
    }

    /* on cible h1 */
    .carte-visite h1
    {
        margin-top: 5vh;
        font-family: "Dancing";
        color: #4F3136;
    }  

    .nom p
    {
        
        font-family: 'Dancing Script', Verdana, sans-serif, cursive;
        color: #4F3136;
    } 

    /* photo laureelen arrondie */
    .circle
    {
        width: 100vw;
        height: 25vh;
        background-image: url("../img/laureelen.jpg");
        background-position: top;
        background-repeat: no-repeat;
        margin: auto 5vw 20vh 5vw; /* haut | droit | bas | gauche */
        background-size: 100%;
        border-radius: 50%;
        shape-outside: circle(50%);
    }

    /* *****logo wedding planner ****** */
    .wedding
    {   
        width: 40%;
        height: 15vh;
        background-image: url("../img/logowedding.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 80%;
        margin-left: 20vw;
    }  


        /* *******************************************/
        /* PAGE CONTACT */
        /* *************************************** */

        /* COORDONNEES LAUREELEN */
    
    main 
    {
        width: 95vw;
        margin-top: 20vh;
        display: flex;
        flex-direction: row;
    }

    main .gauche 
    {
        border-right: solid;
    }

    main .gauche .coordonnees :nth-child(1)
    {
        width: 35vw;
        font-size: 1.5em;
        color: #4F3136;
        line-height: 30px;
        font-weight: 600;
        padding: 10vh 0 0 5vw; /* haut | droit | bas | gauche */
    } 

    main .gauche .coordonnees :nth-child(2)
    {
        width: 35vw;
        font-size: 1.5em;
        color: #4F3136;
        line-height: 30px;
        font-weight: 600;
        padding: 0 0 0 5vw; /* haut | droit | bas | gauche */
    }


        /* formulaire de contact clients */
    
        .droite form 
        {
            padding-left: 2vw;
            width: 50vh;
        } 

        .droite label 
        {
            width: 45vh;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            font-size: 1.2em;
            font-weight: 700;
            color: #4F3136;
        }
        
        .droite input, textarea 
        {
            float: right;
        }

        .droite textarea 
        {
            /* forcer les largeurs min et max essentiellement 
            pour le textarea */
            min-width: 180px;
            max-width: 250px;
        }
        
        .droite input 
        {
            width: 180px;
        } 

        .droite .flex1 
        {
            margin-top: 50px;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: nowrap;
        } 

        .droite .flex2 
        {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }
        
        .droite .flex2 span 
        {
            display: block;
            align-self: flex-start;
        } 
       
        /* cadre message */
        .droite .flex2 span 
        {
            width: 150px;
        } 
        
        /* formulaire de contact*/
        .input-icone:before {
            position: relative;
            display: inline-block;
            top: 3px;
            content: "*";
            color: var(--basecolor);
        }   
       
        /* astérisques champs obligatoires */
        .icone-nom:before {
            left: 80px;
        } 
        .icone-tel:before {
            left: 56px;
        }
        .icone-email:before {
            left: 78px;
        }
        .icone-date:before {
            left: 28px;
        }
        
            /* *****logo wedding planner ****** */
        .wedding2
        {
            width: 30vw;
            height: 20vh;
            background-image: url("../img/logowedding.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 75%;
            margin: 5vh 5vw 0 auto; /* haut | droit | bas | gauche */
        }

        button 
        {
            width: 100px;
            height: 35px;
            background-color: var(--basecolor);
            color: #fff;
            border-color: var(--basecolor);
            border-radius: 16px;
            transition-property: background-color, color, width, height;
            transition-duration: 0.2s;
        }

        #monFormulaire
        {
            width: 25vw;
            margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
            padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
            border: black 1px solid;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .identification
        {
            text-align: end;
            padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
        }

        /* *************************/
        /**********FOOTER *********/
        /*************************/
    footer 
    {
        font-family: "Lora";
        width: 95%;
        height: 15vh;
        background-color: var(--basecolor);
        margin: 2vh auto 0 auto; /* haut | droit | bas | gauche */
        padding-top: 2vh;
    }
        /* FOOTER NAV */

    footer nav 
    {
        width: 100%;
        height: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer nav ul 
    {
        width: 40vw;
        list-style: none;
        margin: auto;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    footer nav ul li
    {
        font-size: 0.7em;
    }

    footer nav ul li a
    {
        color: white;
        width: 100%;
        text-decoration: none;
    }

    footer p 
    {
        margin-top: 2vh;
        color: white;
        text-align: center;
        font-size: 0.7em;
    }

    footer a
    {
        text-decoration: none;
        color: white;
    }

    footer a:hover
    {
        color: white;
        text-decoration: none;
    }

        /* ajuster toutes les icônes réseaux sociaux sur même ligne */
    .icones
    {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        padding: 0 0 0 0; /* haut | droit | bas | gauche */
    }

    .margeImage
    {
        margin-top: 1vh;
    }
    
}

        /* *********************************************************************** */
                        /**************************************************/
                        /********MEDIA ENTRE 861PX ET MAX 1599px ********/
                        /************************************************/
        /* ********************************************************************** */

    
    @media screen and (min-width: 861px) and (max-width: 1599px) 
    
    /* ordinateur de type : 1200px */
    
{

    @font-face 
    {
        font-family: "lora";
        src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
    }

    @font-face 
    {
        font-family: "Dancing";
        src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
    }

    .navbar 
    {
        padding: 0;
    }

    body 
    {
        margin: 0;
        padding: 0;         
        background-color: rgb(248, 239, 239);
    }

    html 
    {
        --basecolor: #441133;
    }

    /* logo en dehors du header */
    .logo2
    {
        width: 16vw;
        height: 28vh;
        background-image: url("../img/logo2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 2vh 0 0 0; /* haut | droit | bas | gauche */
    }  

    /******HEADER*******/

    header 
    {   
        height: 10vh;
        width: 100vw;
        font-family: 'Lora';
        display: flex;
        justify-content: center;
    }
   
    header nav
    {
        width: 95vw;
        height: 10vh;
        background-color: var(--basecolor);
    }

    header nav ul
    {
        margin: auto;
        width: 85vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav li
    {
        line-height: 8vh;
        width: 85vw;
        text-align: center;   
        transition-property: background-color, color, width, height;
        transition-duration: 0.2s;
        
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    } 

    header nav ul li a
    {
        color: white!important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        height: 10vh;
        font-size: 1.5em;    
        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
    }  

    .nav-item .active
    {  
        /* background-color: rgb(207, 156, 151); */
        /* background-color: rgb(190, 129, 124);  */
        background-color: rgb(199, 145, 140);  
        /* background-color: rgb(190, 139, 133);  */
         /* background-color: #FFBAE8;  */
        /* background-color: #805D74; */
        /* background-color: #FF87D7;  */
        /* MAUVE COULEUR SIMILAIRE*/
         /* background-color: #D473D4;  */
        /* background-color: #B33B8B;  */
        color: var(--basecolor)!important;
    }
  

    /* FIN HEADER */

    /* ************************************************/
    /* *************PAGE ACCUEIL**********************/
    /* **********************************************/


    /* carte de visite */
 
     .carte-visite
     {
        flex-direction: column; 
        width: 84vw;
        margin: auto; 
        font-size: 1.2em;
        text-align: justify;
        padding: 0 5vw 5vh 5vw; /* haut | droit | bas | gauche */
        margin: 4vh auto 4vh auto; /* haut | droit | bas | gauche */
        background: white; 
        border-radius: 5px;
        box-shadow: 3px 3px 7px 7px var(--basecolor);
    }

    .carte-visite h1
    {
        font-family: "Dancing";
        font-size: 2.2em;
        color: #4F3136;
        padding: 1vh 0 0 35vw; /* haut | droit | bas | gauche */   
    } 


    .text-center
    {
        font-family: "Dancing";
        font-size: 1.4em; 
        color: #4F3136;
    }   

    .circle
    {
        width: 20vw;
        height: 38vh;
        float: left;
        background-image: url("../img/laureelen.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        shape-outside: circle(40%);
        /* marge autour de la photo */
        margin: 10vh 5vw 10vh 2vw;     /* haut | droit | bas | gauche */      
    }


    /* *****logo wedding planner ****** */
    .wedding
    {  
        width: 26vw;
        height: 27vh;
        background-image: url("../img/logowedding.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 60%;
        margin: 4vh 0 0 auto; /* haut | droit | bas | gauche */
    }   


        /* *******************************************/
        /*****************PAGE CONTACT***************/
        /* *************************************** */
    
    main 
    {
        width: 95vw;
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main .gauche 
    {
        border-right: solid;
    }

    main .gauche .coordonnees :nth-child(1)
    {
        
        width: 35vw;
        font-size: 1.5em;
        color: #4F3136;
        line-height: 30px;
        font-weight: 600;
        padding: 10vh 0 0 5vw; /* haut | droit | bas | gauche */
    } 

    main .gauche .coordonnees :nth-child(2)
    {
        width: 35vw;
        font-size: 1.5em;
        color: #4F3136;
        line-height: 30px;
        font-weight: 600;
        padding: 0 0 0 5vw; /* haut | droit | bas | gauche */
    }
    
            /* formulaire de contact clients */
        
    .droite form 
    {
        padding-left: 2vw;
        width: 70vh;
    } 

    .droite label 
    {
        width: 55vh;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: 700;
        color: #4F3136;
    }
    
    .droite input, textarea 
    {
        float: right;
    }

    .droite textarea 
    {
        /* forcer les largeurs min et max essentiellement 
        pour le textarea */
        min-width: 180px;
        max-width: 300px;
    }
    
    .droite input 
    {
        width: 250px;
    } 

    .droite .flex1 
    {
        margin-top: 50px;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-wrap: nowrap;
    } 

    .droite .flex2 
    {
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    
    .droite .flex2 span 
    {
        display: block;
        align-self: flex-start;
    } 
    
    /* cadre message */
    .droite .flex2 span 
    {
        width: 150px;
    } 
    
    /* formulaire de contact*/
    .input-icone:before 
    {
        position: relative;
        display: inline-block;
        top: 3px;
        content: "*";
        color: var(--basecolor);
    }   
    
    /* astérisques champs obligatoires */
    .icone-nom:before 
    {
        left: 80px;
    } 
    .icone-tel:before 
    {
        left: 56px;
    }
    .icone-email:before 
    {
        left: 78px;
    }
    .icone-date:before 
    {
        left: 28px;
    }

    button 
    {
        width: 100px;
        height: 35px;
        background-color: var(--basecolor);
        color: #fff;
        border-color: var(--basecolor);
        border-radius: 16px;
        transition-property: background-color, color, width, height;
        transition-duration: 0.2s;
    }


        /* *****logo wedding planner ****** */
    .wedding2
    {
        width: 25vw;
        height: 31vh;
        background-image: url("../img/logowedding.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 78%;
        margin: 10vh 5vw 4vh auto; /* haut | droit | bas | gauche */
    }  
    

    #monFormulaire
    {
        width: 25vw;
        margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
        padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
        border: black 1px solid;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .identification
    {
        text-align: end;
        padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
    }
    
        /***************************/
        /**********FOOTER *********/
        /*************************/
    footer 
    {
        font-family: "Lora";
        width: 100vw;
        height: 15vh;
        margin: auto;
        background-color: var(--basecolor);
        padding-top: 1vh;
    }

    .gauche, .droite
    {        
        text-align: center;
    }

    footer nav
    {        
        height: 10vh;
        width: 100%;
    } 
    
    footer nav ul 
    {
        width: 100%;
        list-style: none;
        display: flex;
        padding: 0;
    }

    footer nav ul li 
    {
        width: 50vw;
        font-size: 0.9em;
    }
    
    footer nav ul li a
    {
        color: white;
        text-decoration: none;
    }
    
    footer p 
    {
        color: white;
        text-align: center;
        font-size: 0.7em;
        height: 3vh;
        margin: 0;
        padding: 0;
    }
    
    footer a
    {
        color: white;
    }
        
        /* ajuster toutes les icônes réseaux sociaux sur même ligne */
    .icones
    {
        display: flex;
        justify-content: space-around;
        width: 50vw;
        margin: auto;
    }

    .margeImage
    {
        margin-top: 1vh;
    }

    footer a:hover
    {
        color: white;
        text-decoration: none;
    }

}



        /* *********************************************************************** */
                        /**************************************************/
                        /********MEDIA ENTRE width : 1220PX ET height : 530px ********/
                        /************************************************/
        /* ********************************************************************** */

    
        @media screen and (min-width: 1220px) and (min-height: 530px) and (max-height: 780px)

        /* ordinateur de type : 1200px */
        
    {
    
        @font-face 
        {
            font-family: "lora";
            src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
        }
    
        @font-face 
        {
            font-family: "Dancing";
            src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
        }
    
        .navbar 
        {
            padding: 0;
        }
    
        body 
        {
            margin: 0;
            padding: 0;         
            background-color: rgb(248, 239, 239);
        }
    
        html 
        {
            --basecolor: #441133;
        }
    
        /* logo en dehors du header */
        .logo2
        {
            width: 16vw;
            height: 28vh;
            background-image: url("../img/logo2.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            margin: 2vh 0 0 0; /* haut | droit | bas | gauche */
        }  
    
        /******HEADER*******/
    
        header 
        {   
            height: 10vh;
            width: 100vw;
            font-family: 'Lora';
            display: flex;
            justify-content: center;
        }
       
        header nav
        {
            width: 95vw;
            height: 10vh;
            background-color: var(--basecolor);
        }
    
        header nav ul
        {
            margin: auto;
            width: 85vw;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        header nav li
        {
            line-height: 8vh;
            width: 85vw;
            text-align: center;   
            transition-property: background-color, color, width, height;
            transition-duration: 0.2s;
            
            -webkit-transition: background-color 0.5s ease-out;
            -moz-transition: background-color 0.5s ease-out;
            -o-transition: background-color 0.5s ease-out;
            transition: background-color 0.5s ease-out;
        } 
    
        header nav ul li a
        {
            color: white!important;
            margin: 0;
            padding: 0;
            text-decoration: none;
            height: 10vh;
            font-size: 1.5em;    
            -webkit-transition: color 0.5s ease-out;
            -moz-transition: color 0.5s ease-out;
            -o-transition: color 0.5s ease-out;
            transition: color 0.5s ease-out;
        }  
    
        .nav-item .active
        {  
            /* background-color: rgb(207, 156, 151); */
            /* background-color: rgb(190, 129, 124);  */
            background-color: rgb(199, 145, 140);  
            /* background-color: rgb(190, 139, 133);  */
             /* background-color: #FFBAE8;  */
            /* background-color: #805D74; */
            /* background-color: #FF87D7;  */
            /* MAUVE COULEUR SIMILAIRE*/
             /* background-color: #D473D4;  */
            /* background-color: #B33B8B;  */
            color: var(--basecolor)!important;
        }
      
    
        /* FIN HEADER */
    
        /* ************************************************/
        /* *************PAGE ACCUEIL**********************/
        /* **********************************************/
    
    
        /* carte de visite */
     
         .carte-visite
         {
            flex-direction: column; 
            width: 84vw;
            margin: auto; 
            font-size: 1.2em;
            text-align: justify;
            padding: 0 5vw 5vh 5vw; /* haut | droit | bas | gauche */
            margin: 4vh auto 4vh auto; /* haut | droit | bas | gauche */
            background: white; 
            border-radius: 5px;
            box-shadow: 3px 3px 7px 7px var(--basecolor);
        }
    
        .carte-visite h1
        {
            font-family: "Dancing";
            font-size: 2.2em;
            color: #4F3136;
            padding: 2vh 0 0 35vw; /* haut | droit | bas | gauche */   
        } 
    
    
        .text-center
        {
            font-family: "Dancing";
            font-size: 1.4em; 
            color: #4F3136;
        }   
    
        .circle
        {
            width: 20vw;
            height: 64vh;
            float: left;
            background-image: url("../img/laureelen.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            shape-outside: circle(40%);
            /* marge autour de la photo */
            margin: 20vh 5vw 10vh 2vw;     /* haut | droit | bas | gauche */      
        }
    
    
        /* *****logo wedding planner ****** */
        .wedding
        {  
            width: 24vw;
            height: 31vh;
            background-image: url("../img/logowedding.jpg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: 55%;
            margin: 4vh 0 0 auto; /* haut | droit | bas | gauche */
        }   
    
    
            /* *******************************************/
            /*****************PAGE CONTACT***************/
            /* *************************************** */
        
        main 
        {
            width: 95vw;
            margin-top: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        main .gauche 
        {
            border-right: solid;
        }
    
        main .gauche .coordonnees :nth-child(1)
        {
            
            width: 35vw;
            font-size: 1.5em;
            color: #4F3136;
            line-height: 30px;
            font-weight: 600;
            padding: 10vh 0 0 5vw; /* haut | droit | bas | gauche */
        } 
    
        main .gauche .coordonnees :nth-child(2)
        {
            width: 35vw;
            font-size: 1.5em;
            color: #4F3136;
            line-height: 30px;
            font-weight: 600;
            padding: 0 0 0 5vw; /* haut | droit | bas | gauche */
        }
        
                /* formulaire de contact clients */
            
        .droite form 
        {
            padding-left: 2vw;
            width: 45vw;
        } 
    
        .droite label 
        {
            width: 42vw;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            font-size: 1.2em;
            font-weight: 700;
            color: #4F3136;
        }
        
        .droite input, textarea 
        {
            float: right;
        }
    
        .droite textarea 
        {
            /* forcer les largeurs min et max essentiellement 
            pour le textarea */
            min-width: 180px;
            max-width: 300px;
        }
        
        .droite input 
        {
            width: 250px;
        } 
    
        .droite .flex1 
        {
            margin-top: 50px;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: nowrap;
        } 
    
        .droite .flex2 
        {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }
        
        .droite .flex2 span 
        {
            display: block;
            align-self: flex-start;
        } 
        
        /* cadre message */
        .droite .flex2 span 
        {
            width: 150px;
        } 
        
        /* formulaire de contact*/
        .input-icone:before 
        {
            position: relative;
            display: inline-block;
            top: 3px;
            content: "*";
            color: var(--basecolor);
        }   
        
        /* astérisques champs obligatoires */
        .icone-nom:before 
        {
            left: 80px;
        } 
        .icone-tel:before 
        {
            left: 56px;
        }
        .icone-email:before 
        {
            left: 78px;
        }
        .icone-date:before 
        {
            left: 28px;
        }
    
        button 
        {
            width: 100px;
            height: 35px;
            background-color: var(--basecolor);
            color: #fff;
            border-color: var(--basecolor);
            border-radius: 16px;
            transition-property: background-color, color, width, height;
            transition-duration: 0.2s;
        }
    
    
            /* *****logo wedding planner ****** */
        .wedding2
        {
            width: 25vw;
            height: 31vh;
            background-image: url("../img/logowedding.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 55%;
            margin: 10vh 5vw 4vh auto; /* haut | droit | bas | gauche */
        }  
        

        #monFormulaire
        {
            width: 25vw;
            margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
            padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
            border: black 1px solid;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        .identification
        {
            text-align: end;
            padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
        }
        
            /***************************/
            /**********FOOTER *********/
            /*************************/
        footer 
        {
            font-family: "Lora";
            width: 100vw;
            height: 22vh;
            margin: auto;
            background-color: var(--basecolor);
            padding-top: 1vh;
        }
    
        .gauche, .droite
        {        
            text-align: center;
        }
    
        footer nav
        {        
            height: 17vh;
            width: 100%;
        } 
        
        footer nav ul 
        {
            width: 100%;
            list-style: none;
            display: flex;
            padding: 0;
        }
    
        footer nav ul li 
        {
            width: 50vw;
            font-size: 0.9em;
        }
        
        footer nav ul li a
        {
            color: white;
            text-decoration: none;
        }
        
        footer p 
        {
            color: white;
            text-align: center;
            font-size: 0.7em;
            height: 3vh;
            margin: 0;
            padding: 0;
        }
        
        footer a
        {
            color: white;
        }
            
            /* ajuster toutes les icônes réseaux sociaux sur même ligne */
        .icones
        {
            display: flex;
            justify-content: space-around;
            width: 50vw;
            margin: auto;
        }
    
        .margeImage
        {
            margin-top: 1vh;
        }
    
        footer a:hover
        {
            color: white;
            text-decoration: none;
        }
    
    }
    
    

    /* *********************************************************************** */
                        /********************************/
                        /***MEDIA SUPERIEUR A 1600PX ***/
                        /******************************/
    /* *********************************************************************** */


@media screen and (min-width: 1600px)

/* ordinateur de type : 1600px */

{
    
    @font-face 
    {
        font-family: "lora";
        src: url("https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap");
    }

    @font-face 
    {
        font-family: "Dancing";
        src: url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap"); 
    } 

        body 
    {
        margin: 0;
        padding: 0;
        background-color: rgb(248, 239, 239);
    }

    html 
    {
        --basecolor: #441133;
    }

    /* logo en dehors du header */
    .logo2
    {        
        width: 16vw;
        height: 28vh;
        background-image: url("../img/logo2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        margin: 2vh 0 0 0; /* haut | droit | bas | gauche */
    }


    /******HEADER*******/
 
    header 
    {   
        height: 10vh;
        width: 100vw;
        font-family: 'Lora';
        display: flex;
        justify-content: center;
    }
   
    header nav
    {
        width: 95vw;
        height: 10vh;
        background-color: var(--basecolor);
    }

    header nav ul
    {
        margin: auto;
        width: 85vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav li
    {
        line-height: 8vh;
        width: 85vw;
        text-align: center;   
        transition-property: background-color, color, width, height;
        transition-duration: 0.2s;
        
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
    } 

    header nav ul li a
    {
        color: white!important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        height: 10vh;
        font-size: 1.5em;    
        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
    }

    .nav-item .active
    {
        background-color: rgb(221, 185, 182);
        color: var(--basecolor)!important;
    }

    /* FIN HEADER */

    /* ************************************************/
    /* *************PAGE ACCUEIL**********************/
    /* **********************************************/


    /* carte de visite */
    .carte-visite
    {
       flex-direction: column; 
       width: 90vw;
       margin: auto;
       font-size: 1.2em;
       text-align: justify;
       padding: 5vh 5vw 5vh 5vw; /* haut | droit | bas | gauche */
       margin: 4vh auto 4vh auto; /* haut | droit | bas | gauche */
       background: white; 
       border-radius: 5px;
       box-shadow: 3px 3px 7px 7px var(--basecolor);
   }

   .carte-visite h1
   {
       font-family: "Dancing";
       font-size: 2.2em;
       color: #4F3136;
       padding: 1vh 0 0 35vw; /* haut | droit | bas | gauche */   
   } 


   .text-center
   {
       font-family: "Dancing";
       font-size: 1.4em; 
       color: #4F3136;
   }   

   .circle
   {
       width: 15vw;
       height: 38vh;
       float: left;
       background-image: url("../img/laureelen.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       border-radius: 50%;
       shape-outside: circle(40%);
       /* marge autour de la photo */
       margin: 10vh 5vw 10vh 2vw;     /* haut | droit | bas | gauche */      
   }


   /* *****logo wedding planner ****** */
   .wedding
   {  
       width: 26vw;
       height: 27vh;
       background-image: url("../img/logowedding.jpg");
       background-position: top;
       background-repeat: no-repeat;
       background-size: 50%;
       margin: 4vh 0 0 auto; /* haut | droit | bas | gauche */
   }       
    
        /* *******************************************/
        /*****************PAGE CONTACT***************/
        /* *************************************** */
        main 
        {
            width: 95vw;
            margin-top: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    
        main .gauche 
        {
            border-right: solid;
        }
    
        main .gauche .coordonnees :nth-child(1)
        {
            
            width: 35vw;
            font-size: 1.5em;
            color: #4F3136;
            line-height: 30px;
            font-weight: 600;
            padding: 10vh 0 0 5vw; /* haut | droit | bas | gauche */
        } 
    
        main .gauche .coordonnees :nth-child(2)
        {
            width: 35vw;
            font-size: 1.5em;
            color: #4F3136;
            line-height: 30px;
            font-weight: 600;
            padding: 0 0 0 5vw; /* haut | droit | bas | gauche */
        }
        
                /* formulaire de contact clients */
            
        .droite form 
        {
            padding-left: 2vw;
            width: 70vh;
        } 
    
        .droite label 
        {
            width: 55vh;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            font-size: 1.2em;
            font-weight: 700;
            color: #4F3136;
        }
        
        .droite input, textarea 
        {
            float: right;
        }
    
        .droite textarea 
        {
            /* forcer les largeurs min et max essentiellement 
            pour le textarea */
            min-width: 180px;
            max-width: 300px;
        }
        
        .droite input 
        {
            width: 250px;
        } 
    
        .droite .flex1 
        {
            margin-top: 50px;
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: nowrap;
        } 
    
        .droite .flex2 
        {
            display: -ms-flex;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
        }
        
        .droite .flex2 span 
        {
            display: block;
            align-self: flex-start;
        } 
        
        /* cadre message */
        .droite .flex2 span 
        {
            width: 150px;
        } 
        
        /* formulaire de contact*/
        .input-icone:before 
        {
            position: relative;
            display: inline-block;
            top: 3px;
            content: "*";
            color: var(--basecolor);
        }   
        
        /* astérisques champs obligatoires */
        .icone-nom:before 
        {
            left: 80px;
        } 
        .icone-tel:before 
        {
            left: 56px;
        }
        .icone-email:before 
        {
            left: 78px;
        }
        .icone-date:before 
        {
            left: 28px;
        }
    
        button 
        {
            width: 100px;
            height: 35px;
            background-color: var(--basecolor);
            color: #fff;
            border-color: var(--basecolor);
            border-radius: 16px;
            transition-property: background-color, color, width, height;
            transition-duration: 0.2s;
        }
    
        
        /* *****logo wedding planner ****** */
    .wedding2
    {   
        width: 32vw;
        height: 38vh;
        background-image: url("../img/logowedding.jpg");
        background-repeat: no-repeat;
        background-size: 50%;
        margin-top: 20vh;
        margin-bottom: 4vh;  
        margin-left: auto;    
    }  

    #monFormulaire
    {
        width: 25vw;
        margin: 10vh auto 0 auto; /* haut | droit | bas | gauche */
        padding: 2vh 0 2vh 0; /* haut | droit | bas | gauche */
        border: black 1px solid;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .identification
    {
        text-align: end;
        padding: 2vh 6vw 2vh 0; /* haut | droit | bas | gauche */
    }


        /* *************************/
        /**********FOOTER *********/
        /*************************/
        footer 
        {
            font-family: "Lora";
            width: 95vw;
            height: 15vh;
            margin: auto;
            background-color: var(--basecolor);
            padding-top: 1vh;
        }
    
        .gauche, .droite
        {        
            text-align: center;
        }
    
        footer nav
        {        
            height: 10vh;
            width: 100%;
        } 
        
        footer nav ul 
        {
            width: 100%;
            list-style: none;
            display: flex;
            padding: 0;
        }
    
        footer nav ul li 
        {
            width: 50vw;
            font-size: 0.9em;
        }
        
        footer nav ul li a
        {
            color: white;
            text-decoration: none;
        }
        
        footer p 
        {
            color: white;
            text-align: center;
            font-size: 0.7em;
            height: 3vh;
            margin: 0;
            padding: 0;
        }
        
        footer a
        {
            color: white;
        }
            
            /* ajuster toutes les icônes réseaux sociaux sur même ligne */
        .icones
        {
            display: flex;
            justify-content: space-around;
            width: 50vw;
            margin: auto;
        }

        .margeImage
        {
            margin-top: 1vh;
        }
    
        footer a:hover
        {
            color: white;
            text-decoration: none;
        }

}

        /* *************************/
        /* ******** THE END *******/
        /* ********************* */ 